html {
    height: 100% !important;
    box-sizing: border-box;
}

body {
    height: 100%;
    color: $primary;
    font-family: $font-family-base;
    font-size: $font-size-base;
    background-color: $body-bg;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#app {
    height: 100%;
}

*:focus {
    box-shadow: none !important;
}

a {
    text-decoration: none !important;
}

.logo {
    font-family: $font-family-base;
    font-size: 3.625rem;
    color: $primary;
    font-weight: 500;
    line-height: 1.4;
}

.margin-bootom-1 {
    margin-bottom: 6px;
}
