// BODY
$body-bg: #f7f8f9;

// TYPOGRAPHY
$font-family-base: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/* COLORS */
$primary: #3b6e9b;
$green: #21bf48;
$red: #ed4758;
$orange: #d96442;
$yellow: #eec75f;
$blue: #0072ed;
$white: #ffffff;
$gray: #9495ab;
$gray-light: #f1f3f4;
