.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        width: 768px;
    }

    @media (min-width: 992px) {
        width: 992px;
    }

    @media (min-width: 1200px) {
        width: 1200px;
    }
}
