header {
    background-color: #3b6e9b;
    box-shadow: 1px 2px 8px 0 #1d4666;
    position: relative;
    z-index: 1000;
    margin-bottom: 30px;

    .header-logo {
        font-size: 2.9rem;
        font-weight: 400;
        line-height: 1.9;
        margin: 0;
        text-align: center;

        a {
            color: white;
        }

        @media (max-width: 576px) {
            font-size: 1.9rem;
        }
    }
}
