.btn {
    font-size: 1.07rem;
    color: $white;
    border-radius: 4px;
    cursor: pointer;

    &.btn-success {
        background: $green;
        border: none;
        border-radius: 6px;
        padding: 14px 22px;
        font-size: 1.1rem;
        width: 100%;
        margin-top: 20px;

        &:hover {
            background: darken($green, 2%);
        }
    }
}
